<% if current_user %>
  <h1>投稿一覧</h1>
  <%= link_to "新規投稿", new_post_path, class: "btn btn-primary" %>
  <%= render 'public/posts/index', posts: @posts %>
<% else %>
  <%= content_for :jumbotron do %>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to Cookers</h1>
        <p class="lead">Cookersへようこそ。貴方の秘蔵のレシピを是非、共有してください。</p>
        <%= link_to "サインイン", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>