<div>
  <p>user name: <%= user.name %></p>
  <% if current_user == user %>
    <p><%= link_to "edit", edit_user_registration_path, class: "btn btn-warning" %></p>
    <p><%= link_to "destroy", user_path(user), method: :delete, data: { confirm: "reary?" }, class: "btn btn-danger" %></p>
  <% end %>
  <p><%= link_to "new post", new_post_path, class: "btn btn-primary" %></p>
</div>